<% layout("layouts/boilerplate") %>
    <div class="alert alert-danger" role="alert">
        This is a danger alert—check it out!
        <h1>Error page</h1>
        <h1>
            <%= err.statusCode %>
        </h1>
        <h1>
            <%= err.message %>
        </h1>
    </div>