<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>

    <h1>Camp Details</h1>
    <h1>
        <%= result.title %>
    </h1>
    <h2>
        <%= result.location %>
    </h2>
    <a href="/campgrounds">Veiw all campgrounds</a> <br />
    <a href="/campgrounds/<%= result._id %>/edit">Edit campground</a>

    <form action="/campgrounds/<%= result._id %>?_method=DELETE" method="POST">
        <button>Delete Campground</button>
    </form>

</body>

</html>